@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

* {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

body {
  background-color: palevioletred;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.js-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.js-form,
.js-toDoForm {
  background-color: none;
}

.btn {
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  border-bottom: 2px solid blue;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 50px;
  font-size: 20px;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
